aiohttp==3.8.6
aiosignal==1.3.1
astroid==2.15.8
async-timeout==4.0.3
attrs==23.1.0
black==22.1.0
blue==0.9.1
boolean.py==4.0
CacheControl==0.13.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
cyclonedx-python-lib==4.2.2
defusedxml==0.7.1
dill==0.3.7
dodgy==0.2.1
filelock==3.12.4
flake8==4.0.1
flake8-polyfill==1.0.2
frozenlist==1.4.0
html5lib==1.1
idna==3.4
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
license-expression==30.1.1
markdown-it-py==3.0.0
mccabe==0.6.1
mdurl==0.1.2
msgpack==1.0.7
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.26.0
openai==0.28.1
packageurl-python==0.11.2
packaging==23.1
pandas==2.1.1
pathspec==0.11.2
pep8-naming==0.10.0
pip-api==0.0.30
pip-requirements-parser==32.0.1
pip_audit==2.6.1
platformdirs==3.10.0
pluggy==1.3.0
prospector==1.7.0
py-serializable==0.11.1
pycodestyle==2.8.0
pydocstyle==6.3.0
pyflakes==2.4.0
Pygments==2.16.1
pylint==2.17.6
pylint-celery==0.3
pylint-django==2.5.3
pylint-flask==0.6
pylint-plugin-utils==0.7
pyparsing==3.1.1
pytest==7.4.2
pytest-mock==3.11.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requirements-detector==0.7
rich==13.6.0
setoptconf-tmp==0.3.1
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
tqdm==4.66.1
tzdata==2023.3
urllib3==2.0.7
webencodings==0.5.1
wrapt==1.15.0
yarl==1.9.2
